{"name":"v5.3.0","time":"0001-01-01T00:00:00Z","height":11111111,"info":"Upgrade lavad to v5.3.0 Please refer to the CHANGELOG: https://github.com/lavanet/lava/releases/tag/v5.3.0 for more details about the upgrade"}
